/* 背景部分 */
.sample {

    position: relative;
   
    animation-name: sampleAnimation;
   
    animation-duration: 1s;
   
    animation-timing-function: ease-in-out;
   
    animation-delay: 0s;
   
    animation-fill-mode: forwards;
   
     height: 100px;
   
    background-color: #66CDCF;
   }
   
   @keyframes sampleAnimation {
   
    0% { /* 最初 */
   
      width: 0;
   
    }
   
    100% { /* 最後 */
   
      width: 300px;
   
    }
   
   }
   /* テキスト部分 */
   
   .sample-txt {
   
    position:absolute;
   
    top:50%;
   
    left:50%;
   
    transform:translateX(-50%) translateY(-50%);
   
    color: #ffffff;
   
    font-size: 30px;
   
    font-weight: bold;
   
    width: max-content;
   
    margin: 0;
   
    opacity: 0;
   /* 一括で指定することもできる */
   
    animation: sampleTxt 1s ease-in-out 1s forwards;
   
   }
   
   
   
   @keyframes sampleTxt {
   
    0% {
   
      opacity: 0;
   
    }
   
    100% {
   
      opacity: 1;
   
    }
   
   }






   img.image1{

    width: 50px;

}

img.image2{

    height: 40px;

}

img.image2{

    width: 100%;

}